@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("./reset.css");
@import url("./header.css");
@import url("./info-section.css");

.btn-container{
    margin-top: -15px;
    margin-left: 20px;
    display: flex;
    gap: 10px;
}
.profile-container-btn{
    min-width: 150px;
    padding: 10px;
    border: 1px solid var(--primario);
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
}
.msg-btn{
    background-color: var(--primario);
    color: var(--fundo-card);
}
.more-btn{
    color: var(--primario);
}